.appstyle
{
    margin:auto;
    max-width:900px;
    border: black 1px;
    
    box-shadow: 0px 0px 10px;
    border-top: none;
    border-bottom: none;
    min-height: 860px;
    font-family: Nunito;
    font-style:normal;}